<div class="filter-table-div">
    <!--sökfält-->
    <mat-form-field class="search">
        <mat-label>Sök här!</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <!--filtrera efter ämne-->
    <mat-form-field class="filter">
        <mat-label>Filtrera efter ämne</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="subjectFilter"> 
            <mat-option *ngFor="let course of myCategories" [value]="course.subject">
                {{ course.subject }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<!--data-tabell-->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--kolumner-->
    <!--kurskod-->
    <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course code" class="table-header">Kurskod</th>
        <td mat-cell *matCellDef="let course">{{ course.courseCode }}</td>
    </ng-container>

    <!--kursnamn-->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course name" class="table-header">Kursnamn</th>
        <td mat-cell *matCellDef="let course">{{ course.courseName }}</td>
    </ng-container>

    <!--kurspoäng-->
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course points" class="table-header">Poäng</th>
        <td mat-cell *matCellDef="let course">{{ course.points }}</td>
    </ng-container> 

    <!--ämne-->
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course subject" class="table-header">Ämne</th>
        <td mat-cell *matCellDef="let course">{{ course.subject }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
    <!--ta bort-knapp-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-header">Ta bort kurs</th>
        <td mat-cell *matCellDef="let course" class="delete-button">
            <button mat-button (click)=" deleteCourse(course)" id="deleteButton">Ta bort</button>
        </td>
    </ng-container>

    <!--om ingen data matchar sökfrasen-->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">Ingen data matchar {{ input.value }}</td>
    </tr>

</table>

<!--totala poängen av kurser i ramschemat-->
<p *ngIf="dataSource.data.length > 0" class="total-points">
    <b>Totalt antal poäng: </b> {{ calculateTotalPoints() }}
</p>