/* huvudmeny */
header {
    display: flex;
}

nav {
    background-color: #9c2525;
    color: white;
    height: 100px;
    width: 100%;
}

img {
    width: auto;
    height: 100px;
}

.main-menu {
    list-style-type: none;
    display: flex;
}

.main-menu li {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1.5em;
    margin-top: 37px;
}

.main-menu li:hover {
    cursor: pointer;
    text-decoration: 3px white underline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    
}

