<!--sök/filtrera kurser-->
<mat-form-field>
    <mat-label>Filtrera bland kurser</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<!--filtrera efter ämne-->
<mat-form-field>
    <mat-label>Filtrera efter ämne</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="subjectFilter"> 
        <mat-option *ngFor="let course of courses" [value]="course.subject">
            {{ course.subject }}
        </mat-option>
    </mat-select>
</mat-form-field>

<!--data-tabell-->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--kolumner-->
    <!--kurskod-->
    <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course code">Kurskod</th>
        <td mat-cell *matCellDef="let course">{{ course.courseCode }}</td>
    </ng-container>

    <!--kursnamn-->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course name">Kursnamn</th>
        <td mat-cell *matCellDef="let course">{{ course.courseName }}</td>
    </ng-container>

    <!--kurspoäng-->
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course points">Poäng</th>
        <td mat-cell *matCellDef="let course">{{ course.points }}</td>
    </ng-container> 

    <!--ämne-->
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course subject">Ämne</th>
        <td mat-cell *matCellDef="let course">{{ course.subject }}</td>
    </ng-container>

    <!--lägg till-knapp-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Lägg till i ramschema</th>
        <td mat-cell *matCellDef="let course">
            <button mat-button (click)=" addCourseToMyTable(course)" id="addButton">Lägg till</button>
        </td>
    </ng-container>

    <!--om ingen data matchar sökfrasen-->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">Ingen data matchar {{ input.value }}</td>
    </tr>

</table>
