/* sökfält */
.search {
    border-top: 1px solid black;
}

.filter {
    margin-left: 3em;
    border-top: 1px solid black;
}

.filter-table-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter-table-div .search, .filter-table-div .filter {
    margin-left: 0px;
    margin-right: 80px;
    margin-top: 20px;
}

.filter-table-div p {
    margin-left: 0px;
    margin-right: 110px;
    margin-top: 20px; 
    margin-bottom: 30px;
}



/* tabell */
table {
    padding: 1em;
    width: 70%;
    min-width: 600px;
}

.table-div {
    width: 100%;
    overflow-x: auto;
}

.table-header {
    font-weight: bold;
}

/* knapp */
.add-button {
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
    width: 50px;
}

.add-button:hover {
    background-color: white;
    color: black;
}


.mat-select-panel {
    background-color: aqua !important; /* FUNAKR INTE */
}

/* place scroll-bar on top of table */
.parent {
  transform: rotateX(180deg);
  overflow-x: auto;
} 
.child {
  transform: rotateX(180deg);
}



/* DESKTOP */
@media (min-width: 1024px) {

    .filter-table-div {
        display: inline-block;
    }

    .filter-table-div .search, .filter-table-div .filter {
        margin-right: 40px;
    }

}




