<div class="filter-table-div">
    <!--sök/filtrera kurser-->
    <mat-form-field class="search">
        <mat-label>Sök här</mat-label>
        <input matInput (keyup)="searchFilter($event)" #input>
    </mat-form-field>

    <!--filtrera efter ämne-->
    <mat-form-field class="filter">
        <mat-label>Filtrera efter ämne</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="subjectFilter" (selectionChange)="subjectFilter($event.value)">
            <mat-option *ngFor="let course of categories"  [value]="course.subject" >
                {{ course.subject }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!--kurser i sökningen-->
    <p *ngIf="dataSource.data.length > 0" class="total-courses">
        <b>Kurser hittade: </b> {{ calculateTotalCourses() }}
    </p> 
</div>

<!--data-tabell-->
<div class="table-div parent">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 child" >

    <!--kolumner-->
    <!--kurskod-->
    <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course code" class="table-header">Kurskod</th>
        <td mat-cell *matCellDef="let course">{{ course.courseCode }}</td>
    </ng-container>

    <!--kursnamn-->
    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course name" class="table-header">Kursnamn</th>
        <td mat-cell *matCellDef="let course">{{ course.courseName }}</td>
    </ng-container>

    <!--kurspoäng-->
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course points" class="table-header">Poäng</th>
        <td mat-cell *matCellDef="let course">{{ course.points }}</td>
    </ng-container>

    <!--ämne-->
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by course subject" class="table-header">Ämne</th>
        <td mat-cell *matCellDef="let course">{{ course.subject }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!--lägg till-knapp-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="table-header">Lägg till i ramschema</th>
        <td mat-cell *matCellDef="let course" class="add-button">
            <button mat-button (click)="addCourseToMyTable(course)" id="addButton">Lägg till</button>
        </td>
    </ng-container>

    <!--om ingen data matchar sökfrasen-->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">Ingen data matchar {{ input.value }}</td>
    </tr>

</table>
</div>
