/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;

}

main {
    max-width: 70%;
    margin-left: 2%;
    padding: 1em;
}


footer {
    background-color: #9c2525;
    color: white;
    height: 50px;
    width: 100%;
    padding: 1em;
    text-align: center;
    position: sticky;
    bottom: 0;
}

footer p {
    margin-left: 0.5em;
}